
<h1> Animal Shelter </h1>
<div class="container">
    <div class="div_explicacion">
        <p>
            La idea de la web es gestionar un refugio de animales.
            <br>
            Lo que nos motivo a hacer esta web es el amor por los animales que ambas tenemos.
            Imaginando que tenemos un refugio,
            Creamos esta web para ser accesibles a más personas y que los animales tengan una mayor 
            posibilidad de ser adoptados.
            <br>
            Los usuarios podran ver quienes somos sin necesidad de iniciar sesion.
            La tabla de Usuario contara con una columna "Rol" que podra ser "Admin" o "Registrado".
            <br>
            Los usuarios "Admin" podran gestionar la entrada y salida de los animales en el refugio.
            Los usuarios "Registrado" podran ver los animales que hay actualmente en el refugio.
        </p>
    </div>

    <h4> Planificacion de la Web</h4>
    <div class="div_explicacion">
        <p> La idea de la web es gestionar un refugio de animales.
            Las componentes Presentacion, Explicación, Contacto, Login, Register son de acceso libre.
            Las componentes que gestionaran la base de datos de los Animales, necesitaran previa autenticación.
            
        </p>
        <p> 
            <b> BBDD -> 2 tablas </b>
            <li>Tabla de Usuarios</li>
            <li>Tabla de Animales</li>
        </p>
    </div>
</div>
