

<div class="container" style="margin-top: 2%;">
    <h1  class="fw-bold"> ANIMAL SHELTER </h1>
    <br>
    <br>
    <div class="div_explicacion">
        <p style="text-align: center;">
            The idea of the website is to manage an animal shelter.
            
            With pages open to all visitors, only for registered users and specific for administrator users.
        </p>
    </div>
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              AIM
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                What motivated us to make this website is the <strong>love for animals</strong>  that we both have.
                Imagining that we have a shelter.
                <br>
                We created this website to be accessible to more people and that the animals have a <strong>better chance to be adopted</strong> . 
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                SHARING OF TASKS
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample" style="">
            <div class="accordion-body">
                We <strong>both</strong>  make decisions about the look and feel of the page and write code for the app to develop both the database aspect and the client view.
                <br>
                Having thus the artistic part divided between the two <strong>equally</strong> , and the technical part together for the best compression of the expected results.
            </div>
          </div>
        </div>
      </div>


      <br>
      <br>
    <div class="row">

        <div class="col-12 text-center">
            <h3> WEB DESIGN</h3>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header">Open view</div>
                    <div class="card-body">
                        <h4 class="card-title">All visitors</h4>
                        <p class="card-text">Home, Login, Register, About us, Contact are the pages open to all kind of visitors .</p>
                    </div>
                </div>
            </div>
        

        <div class="col-sm-6 col-md-4">
            <div class="card text-white bg-secondary mb-3">
                <div class="card-header">Registered view</div>
                    <div class="card-body">
                        <h4 class="card-title">Registered & Admin</h4>
                        <p class="card-text">Users admin, Animal residents are the pages only showed to logged users. Dpending on their role.</p>
                    </div>
                </div>
            </div>
        

        <div class="col-sm-6 col-md-4">
            <div class="card text-white bg-success mb-3" >
                <div class="card-header">Database</div>
                    <div class="card-body">
                        <h4 class="card-title">Node-express MySql</h4>
                        <p class="card-text">Connection to a datbase with  two tables. <br>
                            Users tables and  Animals table, with CRUD admin.
                        </p>
                    </div>
                </div>
            </div>
    </div>
    <br>
    <br>
    <div class="row">

        <div class="col-sm-6 col-md-4 ">
            <div class="card text-white bg-danger mb-3">
                <div class="card-header">Forms</div>
                    <div class="card-body">
                        <h4 class="card-title">Three types</h4>
                        <p class="card-text">The web manage three types of form, login, register and contact.</p>
                    </div>
                </div>
            </div>      

        <div class="col-sm-6 col-md-4">
            <div class="card text-white bg-warning mb-3">
                <div class="card-header">Lists</div>
                    <div class="card-body">
                        <h4 class="card-title">Diplaying data</h4>
                        <p class="card-text">We display the database using listing method in table format.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="card text-white bg-info mb-3">
                    <div class="card-header">Animal residents</div>
                        <div class="card-body">
                            <h4 class="card-title">CRUD for admins</h4>
                            <p class="card-text">This table will be showed to all users logged, but only admins could modify it.</p>
                        </div>
                    </div>
                </div>
    </div>
</div>
