/* @import '~mdb-angular-ui-kit/assets/scss/mdb.scss'; */

/* You can add global styles to this file, and also import other style files */
h1, h2, h3, h4, h5, p {
    text-align: center;
}

form{
    padding-top: 0%;
    padding-left: 20%;padding-right: 20%;
    margin: auto;
    margin-bottom: 15%;

}

.invalid-input{
    width:100%;
    margin-top:.25rem;
    font-size:.875em;
    color:#e44c55
}
