<div class="container" style="margin-top: 2%;">
    <h1  class="fw-bold"> EDIT ANIMALS </h1>
    <div>
        <form [formGroup]="this.updateForm" (ngSubmit)="onUpdate()">
            <div>
                <label > Name: </label>
                <input class="form-control"  formControlName="name" type="text" >
            </div>
            <div>
                <label > Specie: </label>
                <input class="form-control" formControlName="specie" type="text" >
            </div>
            <div>
                <label > Breed: </label>
                <input class="form-control" formControlName="breed" type="text" >
            </div>
            <div>
                <label > Age: </label>
                <input class="form-control" formControlName="age" type="text"  >
            </div>
            <div>
                <label > Sex: </label>
                <input class="form-control" formControlName="sex" type="text" >
            </div>
            <div>
                <label > Neutered: </label>
                <input class="form-control" formControlName="neutered" type="text" >
            </div>
            <br>
            <br>

            <div>
                <button class="btn btn-primary" type="submit" >Editar</button>
                {{message}}
            </div>
        </form>

        

    </div>

</div>