
<div class="container" style="margin-top: 2%;">
    <h1  class="fw-bold"> REGISTER </h1>
    <br>
    <br>
    <div>
        <form [formGroup]="miform" (ngSubmit)="submit()" >
            <fieldset>

        <!-- ------------------------- Username --------------------------- -->
                <div class="form-group">
                    <label class="form-label mt-4"> Username: </label>
                    <div>
                        <input class="form-control" type="text" formControlName="username" placeholder="Enter Username" >
                        <span class="invalid-input" *ngIf="this.miform.get('username')?.errors?.['required'] && 
                                 this.miform.get('username')?.touched">
                            Username cannot be empty.
                        </span>
                        <span  class="invalid-input" *ngIf="this.miform.get('username')?.errors?.['minlength']&& 
                                        this.miform.get('username')?.touched">
                                Username minimum 6 characters.
                        </span>
                        <span  class="invalid-input" *ngIf="this.miform.get('username')?.errors?.['maxlength']&& 
                                        this.miform.get('username')?.touched">
                                Username maximum 15 characters.
                        </span>
                        <span class="invalid-input"  *ngIf="this.miform.get('username')?.errors?.['pattern'] && 
                                this.miform.get('username')?.touched">
                            Username only allows letters and numbers.
                        </span>

                    </div>
                </div>

        <!-- ------------------------- Password --------------------------- -->
                <div class="form-group">
                    <label for="" class="form-label mt-4"> Password: </label>
                    <div>
                        <input class="form-control" type="password" formControlName="pass" placeholder="Password">
                        <span class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['required'] && 
                                     this.miform.get('pass')?.touched">
                            Password cannot be empty.
                        </span>
                        <span class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['minlength'] && 
                                     this.miform.get('pass')?.touched">
                            Password minimum 8 characters.  
                        </span>
                        <span class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['maxlength'] && 
                                     this.miform.get('pass')?.touched">
                            Password maximum 10 characters.  
                        </span>
                        <span  class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['pattern'] && 
                                this.miform.get('pass')?.touched">
                            Password only allows letters and numbers.
                        </span>
                    </div>
                </div>
        <!-- ------------------------- Confirm Password --------------------------- -->
                <div class="form-group">
                    <label class="form-label mt-4"> Confirm Password: </label>
                    <div>
                        <input class="form-control"  type="password" formControlName="confirm_pass" placeholder="Confirm Password" 
                        appRepitePass [parametro]="this.miform.value.pass" >
                        <span class="invalid-input"  *ngIf="this.miform.get('confirm_pass')?.errors?.['required'] && 
                                    this.miform.get('confirm_pass')?.touched">
                            Confirm password cannot be empty.
                        </span>
                        <span class="invalid-input"  *ngIf="this.miform.get('confirm_pass')?.errors?.['repitePass'] && 
                                    this.miform.get('confirm_pass')?.touched">
                            Password does not match.
                        </span>
                    </div>
                </div>
        <!-- ------------------------- Name --------------------------- -->
        <div class="form-group">
            <label class="form-label mt-4"> Name: </label>
            <div>
                <input class="form-control" type="text" formControlName="name" placeholder="Name">
                <span class="invalid-input" *ngIf="this.miform.get('name')?.errors?.['required'] && 
                                 this.miform.get('name')?.touched">
                            Name cannot be empty.
                </span>
                <span  class="invalid-input" *ngIf="this.miform.get('name')?.errors?.['pattern'] && 
                                this.miform.get('name')?.touched">
                            Name only allows letters.
                </span>
            </div>
        </div>

        <!-- ------------------------- Lastname --------------------------- -->
        <div class="form-group">
            <label class="form-label mt-4"> Lastname: </label>
            <div>
                <input class="form-control" type="text" formControlName="lastname" placeholder="Lastname">
                <span class="invalid-input" *ngIf="this.miform.get('lastname')?.errors?.['required'] && 
                                 this.miform.get('lastname')?.touched">
                            Name cannot be empty.
                </span>
                <span  class="invalid-input" *ngIf="this.miform.get('lastname')?.errors?.['pattern'] && 
                                this.miform.get('lastname')?.touched">
                            Name only allows letters.
                </span>
            </div>
        </div>

        <!-- ----------------------------- Email ----------------------------- -->
        <div class="form-group">
            <label class="form-label mt-4"> Email: </label>
            <div>
                <input class="form-control" type="text" formControlName="email" placeholder="Email" >
                <span class="invalid-input" *ngIf="this.miform.get('email')?.errors?.['required'] && 
                            this.miform.get('email')?.touched">
                    Email cannot be empty
                </span>
               
                <span class="invalid-input"  *ngIf="this.miform.get('email')?.errors?.['email'] && 
                        this.miform.get('email')?.touched">
                    The email is not in the correct format
                </span>
            </div>
        </div>

        <!-- ----------------------------- Telephone ----------------------------- -->
        <div class="form-group">
            <label class="form-label mt-4"> Tel Movil: </label>
            <div>
                <input class="form-control" type="text" formControlName="tel" placeholder="000000000" >
                <span class="invalid-input" *ngIf="this.miform.get('tel')?.errors?.['required'] && 
                            this.miform.get('tel')?.touched">
                    Email cannot be empty
                </span>
               
                <span class="invalid-input"  *ngIf="this.miform.get('tel')?.errors?.['pattern'] && 
                        this.miform.get('tel')?.touched">
                    The phone number format is invalid.
                </span>
            </div>
        </div>

        <!-- ---------------------------------------------- Button ---------------------------------------------------------- -->
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="miform.invalid"> Register </button>

        </fieldset><br>
        <!-- ---------------------------------------------- Toast ---------------------------------------------------------- -->
        <div *ngIf="element == true" id="toasts" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto">Love Paws</strong>
              <small>Ani & Andrea</small>
                <button  type="button" (click)="redirects()" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                <span aria-hidden="true"></span>
                </button>
            </div>
            <div class="toast-body">
                {{message}}
            </div>
        </div>
        </form>
    </div>
    <br>

</div>