<h1> Presentation of the promoters </h1>

<div class="container">
  <!-- Presentación en conjunto -->
  <div>
    <p>
    Somos Andrea Morales Mata y Ani Liseth Valle Banegas, jovenes apasionadas por los animales. 
    Estamos estudiando Desarrollo de Aplicaciones Web con Perfil en Bioinformática.
    Ofrecemos esta aplicación juntando nuestras dos pasiones, La informatica
    somos unas jóvenes con iniciativa, visión a futuro, ideas innovadoras para 
    revolucionar nuestro entorno y somos muy responsables.
    </p>
  </div>

  <div>
    <!-- colum Info ANI -->
    <div>
      <h2> Ani Valle </h2>
      <img src="./assets/ani.jpeg" alt="Ani Valle">

      <p> Soy una persona trabajadora, responsable y decidida a cumplir las metas que me propongo, 
          quiero aprender todo lo que pueda así crecer profesional y personalmente. </p>
    </div>


    <!-- colum Info ANDREA -->
    <div>
      <h2>Andrea Morales</h2>
      <img src="./assets/andrea.jpg" alt="Andrea Morales">
      <p>Some text..</p>

    </div>
  </div>
</div>
