

<div class="container" style="margin-top: 2%;">
  
    <div class="col-auto text-center">
  <h1 class="fw-bold"> WHO ARE WE? </h1>
      </div>
      
  <!-- Presentación en conjunto -->
  <div>
    <br>
    <hr class="hr hr-blurry" />
    <p> 
      We are Andrea Morales Mata and Ani Liseth Valle Banegas, young people passionate about animals. 
      Young women with initiative, vision, innovative ideas to revolutionize our environment and very responsible.
    </p>
    <p> We are studying Web Application Development with a profile in Bioinformatics. 
      This application combines our two passions, computer science and animals.
     </p>
  </div>
  <hr class="hr hr-blurry" />
  <br>
  <br>
  <div class="fullhome">
     <!-- colum Info ANI -->
    <div class='iconcontainer first'>
      <img class='homeicons1' src="./assets/ani.jpeg" alt="Ani Valle">
      <p> I am a hard worker, responsible and determined to achieve the goals I set for myself, I want to learn everything I can to grow professionally and personally. </p>
      <figcaption class="blockquote-footer">
        Ani Valle 
      </figcaption>
    </div>
    <!-- colum Info ANDREA -->
    <div class='iconcontainer second'>
    <img class='homeicons1' src="./assets/andrea.jpg" alt="Andrea Morales">
    <p>Patient, persevering, assertive - that's my motto. With a big heart and a passion for animals.</p>
    <figcaption class="blockquote-footer">
      Andrea Morales 
    </figcaption>
  </div>
</div>
  <div>

</div>

